.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.title {
    max-width: 600px;
    margin: 60px 0;

    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    gap: 70px 40px;
    padding: 0 38px;
}

.feature {
    display: flex;
    align-items: start;
    column-gap: 20px;
    max-width: 315px;
}

.featureTitle {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 10px;
}