.header {
    position: relative;
    background-color: #577FE3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1210px;
    margin: 0 auto;
    padding: 24px 15px;
}

.links {
    display: flex;
}

.link {
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
}

.link:hover {
    transition: 0.3s all;
    border-bottom: 2px solid white;
}

.link a {
    font-family: "Martel Sans", sans-serif;
    color: #fff;
    font-size: 1.125rem;

    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.openedMenu {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 100%;
    bottom: -190px;
    background-color: #577FE3;
}

.openedLinks {
    display: flex;
    align-items: end;
    flex-direction: column;
    row-gap: 20px;
}